Generate Dataset

In [13]:
import pandas as pd
import numpy as np
from faker import Faker
import datetime

In [ ]:

fake = Faker()
num_rows = 1_000_000

names = [fake.name() for _ in range(num_rows)]
ages = np.random.randint(18, 70, size=num_rows)
websites = np.random.choice(['google.com', 'facebook.com', 'twitter.com', 'github.com', 'linkedin.com'], size=num_rows)
login_times = [fake.date_time_this_year() for _ in range(num_rows)]
logout_times = [lt + pd.Timedelta(minutes=np.random.randint(1, 180)) for lt in login_times]

df = pd.DataFrame({
    'name': names,
    'age': ages,
    'website_used': websites,
    'login_time': login_times,
    'logout_time': logout_times
})

df.to_csv('site_data.csv', index=False)
print(df.head())

In [ ]:
print(df.size)

In [16]:
df2 = pd.read_csv('site_data.csv')  # To verify the CSV was created correctly
df2

,name,age,website_used,login_time,logout_time
0,Jason Boyer,54,twitter.com,2025-03-05 07:04:34.918761,2025-03-05 08:35:34.918761
1,Mary Huerta,21,facebook.com,2025-04-17 07:26:47.460576,2025-04-17 08:06:47.460576
2,Robin Lee,52,linkedin.com,2025-04-20 22:07:58.367471,2025-04-21 00:25:58.367471
3,Kevin Rodriguez MD,57,linkedin.com,2025-05-23 03:06:24.123255,2025-05-23 04:38:24.123255
4,Debra Walker,36,github.com,2025-03-14 07:09:16.376341,2025-03-14 09:31:16.376341
...,...,...,...,...,...
999995,Juan Thompson,60,facebook.com,2025-01-15 05:14:55.801544,2025-01-15 08:07:55.801544
999996,Luis Stevenson,27,github.com,2025-01-03 21:11:10.658926,2025-01-03 23:00:10.658926
999997,Corey Mooney,32,twitter.com,2025-01-05 23:45:29.454227,2025-01-06 02:13:29.454227
999998,Joshua Howard,49,linkedin.com,2025-03-22 22:22:21.883291,2025-03-23 00:27:21.883291
999999,Shane Stewart,67,linkedin.com,2025-02-11 17:03:14.073049,2025-02-11 18:10:14.073049

In [17]:
df2.shape

(1000000, 5)

In [18]:
## print first row of dataframe df2
print(df2.loc[999999])

name                         Shane Stewart
age                                     67
website_used                  linkedin.com
login_time      2025-02-11 17:03:14.073049
logout_time     2025-02-11 18:10:14.073049
Name: 999999, dtype: object

In [15]:
now = datetime.datetime.now()
print(now.time())

21:54:44.596095