In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv('data.csv')
print(data.head())

      name  age
0     Suri   56
1  Kalyani   56
2   Akhila   19
3  Nandita   17